/.idea
coupon-eureka/src/test/
coupon-eureka/target/generated-sources/

coupon-gateway/src/test/
coupon-gateway/target/generated-sources/

coupon-service/coupon-common/src/test/

coupon-service/coupon-distribution/target/generated-sources
coupon-service/coupon-distribution/src/test/

coupon-service/coupon-template/target/generated-sources
coupon-service/coupon-template/src/test/

coupon-service/coupon-settlement/target/generated-sources
coupon-service/coupon-settlement/src/test/
